aiohttp==3.8.1
etherscan-python==2.1.0
fastapi==0.75.1
ipfshttpclient==0.8.0a2
numpy==1.22.3
pandas==1.4.2
pymongo==4.1.0
ratelimit==2.2.1
requests==2.27.1
scikit-learn==1.0.2
scipy==1.8.0
sklearn==0.0
uvicorn==0.17.6
varint==1.0.2
web3==5.28.0
python-dotenv==0.20.0
httpx==0.22.0
dnspython==2.2.1